#date_input > input {
  height: 37px;
  width: 95%
}

body {
  background-color: #f1f1f1;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  background-color: white;
  padding: 10px;
}

